<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">WATCH ANYWHERE.</h1>
    <p class="lead">Watch TV shows and movies anytime, anywhere — personalized for you.</p>
    <p><a class="btn btn-primary btn-lg" href="/videos" role="button">Browse Videos &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h3>Enjoy on your TV</h3>
      <p>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</p>
      <p><a class="btn btn-secondary" href="/sign_up" role="button">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-6">
    <img style="width: 100%; height: 100%;" src="https://i.ibb.co/rQ7CjWR/Chillflix-TV.png">
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>Watch your favorite TV shows anywhere</h3>
      <p>Save your favorite shows easily and always have something to watch.</p>
      <p><a class="btn btn-secondary" href="/sign_up" role="button">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-6">
    <img style="width: 100%; height: 100%;" src="https://i.ibb.co/Tkygk80/chillflix-mobile-2.png">
    </div>
  </div>
    <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>Create profiles for kids</h3>
      <p>Send kids on adventures with their favorite characters in a space made just for them—free with your membership.</p>
      <p><a class="btn btn-secondary" href="/sign_up" role="button">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-6">
    <img style="width: 100%; height: 100%;" src="https://i.ibb.co/TWshCZG/kids-tv.png">
    </div>
  </div>
  <hr>

</div> <!-- /container -->